#top {
  	background: linear-gradient(0deg, #326088, #517ea3);
	height: 220px;
}
#insta {
	position: relative;
	left: 450px;
	top: 75px;
}
#phones {
	position: relative; 
	bottom: 150px;
	left: 90px;
}
#frame {
	position: relative;
	bottom: 296px;
	left: 120px;
}
#footer {
	position: relative;
	bottom: 80px
}
ul {
	text-align: center;
	font-size: 18px;
}
li {
	display: inline;
	color: #585858;
}
#copy {
	color: #acacad;
	font-size: 12px;
}