#top {
  	background: linear-gradient(0deg, #326088, #517ea3);
	height: 220px;
}
#insta {
	position: relative;
	left: 450px;
	top: 75px;
	width: 275px;
}
#phones {
	position: relative; 
	bottom: 150px;
	left: 90px;
}
#login {
	position: relative;
	left: 546px;
	top: 53px;
	color: white;
	background: linear-gradient(#517ea3, #320088);
	background: -webkit-linear-gradient(#517ea3, #326088);
	background: -o-linear-gradient(#517ea3, #326088);
	background: -moz-linear-gradient(#517ea3, #326088);
	box-shadow: 0 0 5px black;
	border: none;
	border-radius: 3px;
}
#loginText{
	margin: 0 0 0 10px;
	font-size: 20px;
	color: white;
	font-weight: 600;
	font-size: 12px;
	position: relative;
	bottom: 5px;
	text-decoration: none;
}
#frame {
	position: relative;
	bottom: 296px;
	left: 120px;
}
#summary {
	position: relative;
	bottom: 555px;
	left: 467px;
}
#capture {
	width: 300px;
	color: #002b56;
}
p {
	width: 410px;
}
span {
	font-weight: bold;
}
#apple {
	position: relative;
	bottom: 505px;
	left: 306px;
}
#android {
	position: relative;
	bottom: 505px;
	left: 656px;
}
#footer {
	position: relative;
	bottom: 240px;
}
ul {
	text-align: center;
	font-size: 18px;
}
li {
	display: inline;
	color: #3b6f98;
}
#copy {
	color: #acacad;
	font-size: 12px;
}